html {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

#root,
#layout {
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url('./fonts/Karla-Regular.ttf') format('truetype');
}

* {
  font-family: MyFont;
}
